@import url("https://fonts.googleapis.com/css2?family=Love+Light&family=Mea+Culpa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Licorice&display=swap");
body {
  width: 100vw;
  background: url("/assets/821.webp");
  background-position: center;
  background-repeat: repeat;
  background-size: 30%;
}

body::-webkit-scrollbar {
  display: none;
}

#loader {
  position: fixed;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 1;
  overflow: visible;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: auto;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wedding-banner {
  background: url("/assets/landing.webp") no-repeat center center;
  background-size: cover;
  background-position: 65%;
}

.fas {
  font-size: 50px;
  color: white;
}

.down-arrow {
  position: absolute;
  top: 90vh;
  left: 50%;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.down-arrow:hover {
  top: 91vh;
}

.wedding-banner-text {
  font-size: 40px;
  color: azure;
  text-align: center;
  font-family: "Dancing Script", cursive;
}

.wedding-banner-date {
  font-size: x-large;
}

.save-the-date {
  text-align: center;
  padding-top: 30vh;
}

@media (min-width: 576px) {
  .save-the-date {
    padding-top: 0;
  }
  .wedding-banner-all {
    margin-top: 35vh;
  }
}

@media only screen and (max-width: 600px) {
  .save-the-date {
    padding-top: 20vh;
  }
}

h1 {
  font-family: "Mea Culpa", cursive;
  font-weight: 500;
  font-size: 5.5rem;
}

.section-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

footer > .col {
  text-align: center;
  height: 100%;
  vertical-align: center;
}

.fp-viewing-section1 #fp-nav ul li a span {
  background: red;
}

.fp-viewing-section2 #fp-nav ul li a span {
  background: blue;
}

.fp-tooltip {
  color: black !important;
  font-family: "IBM Plex Sans", serif !important;
}

.bride-groom .row .col-md-6 {
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.bride-groom .row .col-md-6 h2 {
  font-family: "Love Light", cursive;
  font-size: 5rem;
  margin-bottom: 5%;
  font-weight: 500;
}

.bride-groom .row .text-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.background-white {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #f7ede3 39.5%, rgba(100, 46, 122, 0.23) 100.2%);
}

@media only screen and (max-width: 600px) {
  .events .design {
    display: none;
  }
}

.events img {
  max-height: 250px;
}

.events .design {
  position: absolute;
  left: 0px;
  top: -50px;
  height: 300px !important;
  max-height: 300px !important;
  opacity: 0.5;
  -webkit-transform: rotate(160deg);
          transform: rotate(160deg);
}

.events p {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Licorice", cursive;
  margin: 1%;
  padding: 1%;
}

.gallery {
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.gallery h1 {
  margin: 2%;
  font-weight: 500;
}

.inline-gallery-container {
  height: 65vh;
  width: 100%;
}

footer {
  padding: 3%;
  font-size: 2rem;
  font-family: "Licorice", cursive;
}

@media only screen and (max-width: 600px) {
  .engagement .video {
    margin-top: 20vh;
  }
  .engagement .design {
    display: none;
  }
}

.engagement .design {
  position: absolute;
  right: -10px;
  top: -40px;
  height: 300px;
  opacity: 0.5;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

@media only screen and (max-width: 600px) {
  .prewedding .design {
    display: none;
  }
}

.prewedding .design {
  position: absolute;
  left: -20px;
  top: -40px;
  height: 300px;
  opacity: 0.5;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
/*# sourceMappingURL=styles.css.map */