body {
    min-height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

.section {
    min-height: 100vh;
}

#wedding-banner {
    background: url("/assets/landing.jpeg") no-repeat center center;
    background-size: cover;
    background-position: 65%;
}

#event-details {
    background-color: aliceblue;
}

.down-arrow {
    position: fixed;
    top: 90vh;
    left: 47vw;
}

.wedding-banner-text {
    font-size: 40px;
    color: azure;
    text-align: center;
    font-family: 'Dancing Script', cursive;        
}

.wedding-banner-date {
    font-size: x-large;
}

.save-the-date {
    text-align: center;
    padding-top: 30vh;
}

@media (min-width: 576px) {   
    .save-the-date {
        padding-top: 0;
    }

    .wedding-banner-all {
        margin-top: 35vh;
    }
}

footer {
    height: 5vh;
    background-color: aliceblue;
}

footer > .col {
    text-align: center;
    height: 100%;
    vertical-align: center;
}